* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

h1, h2 {    
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1rem;
    text-align: center;}

#nav-button-container {
    padding:0.5rem;
}

.scrollable, .history-scrollable {
    overflow: hidden auto;
    padding: 1rem;
}

.scrollable {
    height: 50vh;
}

.history-scrollable {
    height: 30vh;
}


#done-container, #delete-container {
    min-width: 50%;
    padding: 1rem;
    border: 2px solid black;
}

.created-items, .history { 
    border-radius:16px;
    background-color: lightcoral;
    padding: 0.5rem 1rem;
}

.created-items { 
    display: inline-block; 
    min-width: 50vw;
}

.history { 
    min-width: 50%;
}


.flex-hor {
    gap: 1rem;
    display:flex;
    align-items: center;
}

.flex-vert {
    display:flex;
    flex-direction:column;
    align-items: center;
    /* justify-content: center; */
    gap:0.5rem;
    padding-top:1rem;
}




/* Components */

header {
    padding:0rem 0rem 1rem 0rem;
    background-color: lightblue;
    border-color:black;
    border-style:solid;
    text-align: center;
}

button {
    border-radius: 16px;
    width: 6rem;
    height: 2rem;
}



input {
    min-width:70vw;
    padding: 0.25rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
